@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;600;700&family=Inter:wght@400;500;600;700&family=Kollektif&family=Sofia+Pro:wght@400;500;600;700&display=swap');

@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-cormorant: 'Cormorant', serif;
  --font-inter: 'Inter', sans-serif;
  --font-kollektif: 'Kollektif', sans-serif;
  --font-sofia-pro: 'Sofia Pro', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f6e5;
  color: #452829;
}

@utility u-button-hover-neutral {
  @apply transition-colors hover:bg-gray-500! hover:text-white!;
}

@utility u-hover-zoom {
  @apply transition-transform duration-300 ease-out will-change-transform;
}

@utility u-image-zoom-hover {
  @apply transition-transform duration-300 ease-out;
}

@utility u-image-zoom-hover-container {
  @apply overflow-hidden;
}

@media (hover: hover) {
  .u-hover-zoom:hover {
    transform: scale(1.06);
  }

  .u-image-zoom-hover-container:hover .u-image-zoom-hover {
    transform: scale(1.06);
  }
}
